@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white text-slate-800;
}
@keyframes radarGrow {
  0% {
    transform: scale(0.6);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes pointPop {
  to {
    transform: scale(1);
  }
}
